body {
	text-align: center;
	font-family: roboto;
/*	background-color: #e16156;*/
}

h1 {
	padding-top: 25px;
	/*margin-top: 40px;*/
	letter-spacing: 3px;
}

p {
	padding-top: 25px;
	color: black;
}

h3 {
	padding: 0 0 40px 0;
}

.container1 {
	width: 75%;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	background-color: #f45400;
	border: solid 2px blue;
}



.btn-default {
	width: 100%;
	margin-top: 10px;
	color: #fff;
  	background-color: #007bff;
  	border-color: #007bff;
}

.btn-default:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-default:focus, .btn-default.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-success {
	margin-top: 75px;
}

.hide {
	display: none;
}

#dogNameResult {
	
}